
.DS_Store

PGPogoConnect sketch/www/.idea/workspace.xml

PGPogoConnect simple/PGPogoConnect.xcodeproj/project.xcworkspace/xcuserdata/triceam.xcuserdatad/UserInterfaceState.xcuserstate

PGPogoConnect simple/PGPogoConnect.xcodeproj/project.xcworkspace/xcuserdata/triceam.xcuserdatad/UserInterfaceState.xcuserstate

PGPogoConnect simple/PGPogoConnect.xcodeproj/xcuserdata/triceam.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

PGPogoConnect sketch/PGPogoConnect.xcodeproj/project.xcworkspace/xcuserdata/triceam.xcuserdatad/UserInterfaceState.xcuserstate

PGPogoConnect sketch/PGPogoConnect.xcodeproj/xcuserdata/triceam.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
